footer {
    
    background-color:$grey;
    width: 100%;
    height:auto;

    padding: 22px 25px 22px 25px;

    & h4 {
        color:$white;
        width: 139px;
        height: 27px;
        padding-right: 0px;
        color: $white;
        font-family: Shrikhand;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 16px;
        padding-left: 15px;
    }

   & a {
        flex-wrap: wrap;
        width: 168px;
        color: $white;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-left: 15px;
    }

   & p {
        padding-bottom: 7px;
    }
    
    /*footer links*/
   & .links-1{
    margin-left: 25px;
   }

    /*icons footer*/
   & .fa-solid {
        color:$white;
        display: flex;
        position: absolute;
        z-index: 1;
        left: 5px;
        padding-top: 5px;
        gap: 10px;
        padding-left: 25px;
    }
    & .fa-handshake-angle{
        padding-top: 5px;
    }
}