


form {
           
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left:25%;
    background: $grey-2;

    #location {
        width: 12px;
        height: 16px;
        color: $grey;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 20px;
    }

    #city {
        height: 19px;
        border: none;
        background-color:$grey-2;

        &::placeholder {
            font-family: Roboto;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            color: $black-2;
        }
    }
}


@media screen and (min-width: 1024px) {
    form {
        
        padding-left: 85px;
    }
    
}