/* Home page media queries */

/* Mixin pour les styles de .number*/
@mixin number-styles {
  width: 24px;
  height: 24px;
  background-color: $primary;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $white;
  font-family: Roboto;
  font-size: 14.182px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  position: relative;
  z-index: 1;
  top: 35%;
  right: 50%;
}

@mixin ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// media-queries.scss

// Mixin pour les media queries
@mixin custom-media-styles {
  @media screen and (min-width: 1024px) {
    body {
      .functioning {
        padding: 12%;
        margin-top: -150px;
        margin-bottom: -130px;

        h2 {
          margin-bottom: -25px;
        }

        .functioning-list {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          flex-wrap: wrap;
          margin-top: 50px;
          position: relative;

          .fa-solid {

            padding-right: 21%;

          }

          li {
            width: 30%;
          }
        }
      }

      section.restaurants {
        padding: 12%;
        padding-top: 0px;
        padding-bottom: 0px;

        .restaurant-card {
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-between;

          a {
            width: 47%;
            margin-bottom: 30px;

          }

        }
      }
    }
  }

}