/* Home page media queries */

/* Mixin pour les styles de .number*/
@mixin number-styles {
  width: 24px;
  height: 24px;
  background-color: $primary;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $white;
  font-family: Roboto;
  font-size: 14.182px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  position: relative;
  z-index: 1;
  top: 50px;
  right: 10px;
}


// media-queries.scss

// Mixin pour les media queries
@mixin custom-media-styles {
  @media screen and (min-width: 1024px) {
    body {
      .functioning {
        .functioning-list {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          flex-wrap: wrap;

          .fa-solid {
            padding-left: 3%;
          }

          a {
            width: 30%;
          }
        }
      }

      section.restaurants {
        .restaurant-card {
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-between;

          a {
            width: 47%;
          }

        }
      }
      
      footer {
        width: 100%;
        height: 114px;
        padding: 30px 25px;
       
       
      h4 {
          display: flex;
          flex-wrap: nowrap;
          position: absolute;
          left: 88%;
          margin-top: 20px;
        }

       .links{
        margin-left:none;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        padding-left: 30%;
        padding-top: 3%;
        gap:30px;
       
      .links-1{
        display: flex;
       
      
       
      }
      .links-2{
        display: flex;

      }
       .fa-solid{
        position: relative;
        left: 6px;
        top: -6px;
       }
      }

      }
    } 
 
  }
}