
body {
    .loader-body{
        background-color:#ffffff;
        padding: 0;
        margin: 0;
        height:100vh;
        display:flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        z-index: 2;
        inset: 0;
        animation:fade-out 1s 13s forwards;
        transform-origin: top;
       
      
      }
      @keyframes fade-out{
        from{
            transform:scale(1);
        }
        to{
            transform:scale(0);
        }
      }
      
      .loader{
        display: flex;
        justify-items: center;
        -webkit-perspective:700px;
        perspective: 700px;
        
      }
      .knife-fork{
        font-size: 130px;
        display: flex;
        font-size: 130px;
        position: relative;
        left: -13px;
        bottom:-4px;
    }
        
       
      }
      .loader>span{
        font-size: 130px;
        font-family: shrikhand;
        display: inline-block;
        animation:flip 4.6s infinite linear;
        transform-origin:0 70%;
        transform-style:preserve-3d;
        -webkit-transform-style:preserve-3d;
      
       
       
      }

      
      @keyframes flip{
        35%{
          transform: rotateX(360deg);
        }
        100%{
          transform: rotatex(360deg);
        }
      }
      
      
      .loader>span:nth-child(even){
        color:#9356dc;
      
      }
      
      .loader>span:nth-child(2){
        animation-delay: 0.3s;
      }
      
      .loader>span:nth-child(3){
        animation-delay: 0.6s;
      }
      
      .loader>span:nth-child(4){
        animation-delay: 0.9s;
      }
      
      .loader>span:nth-child(5){
        animation-delay: 1.2s;
      }
      
      .loader>span:nth-child(6){
        animation-delay: 1.5s
      }
      
      .loader>span:nth-child(7){
        animation-delay: 1.8s
      }
      
      
      header {
        h1 {
            font-family: "shrikhand", cursive;
            text-align: center;
            height: 63px;
            margin-top: 14px;
            margin-bottom: 0;
            font-size: 30px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;

            /* Shadow/Badge */
            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
        }

        form {
           
            height: 50px;
            margin-top: 0;
            margin-bottom: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            background: var(--Grey-2, #eaeaea);

            #location {
                width: 12px;
                height: 16px;
                color: var(--Grey, #353535);
                display: flex;
                align-items: center;
                justify-content: center;
                padding-right: 17px;
            }

            #city {
                height: 19px;
                border: none;
                background-color: #eaeaea;

                &::placeholder {
                    font-family: Roboto;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    color: black;
                }
            }
        }
    }

    main {
        .explorer {
         
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            background: var(--Background, #f6f6f6);

            h2 {
                color: #000;
                margin: 0;
                font-family: Roboto;
                font-size: 24px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                text-align: center;
                margin-top: 30px;
            }

            .discover {
              
                height: 46px;
                margin-top: 30px;
                font-family: Roboto;
                font-size: 18px;
                font-style: normal;
                font-weight: 300;
                line-height: normal;
                text-align: center;
            }

            .button-gradient {
                width: 218px;
                height: 50px;
                margin-top: 40px;
                margin-bottom: 57px;
                color: var(--White, #fff);
                text-align: center;
                font-family: Roboto;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                border-radius: 25px;
                background: var(--Button-Gradient,
                        linear-gradient(193deg, #9356dc -11.44%, #ff79da 123.93%));
                transition: transform 0.3s ease-in-out;

                /* Shadow/Button */
                box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
            }

            /*hover*/

            .button-gradient:hover {
                background: var(--Button-Gradient,
                        linear-gradient(193deg, #9356dc -11.44%, #ff79da 123.93%));
                box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
                cursor: pointer;
                transform: scale(1.1);
            }
        }
    }

    .functioning {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 68px;
        padding: 5%;

        .functioning-list {
            position: relative;
            width: 100%;

            /*icons-list*/
            .number {
                width: 24px;
                height: 24px;
                background-color: #9356dc;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                color: var(--White, #fff);
                font-family: Roboto;
                font-size: 14.182px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                position: relative;
                z-index: 1;
                top: 50px;
                right: 10px;
            }

            .fa-solid {
                font-size: 18px;
                color: var(--grey-tint-4, #7e7e7e);
                display: flex;
                position: absolute;
                z-index: 1;
                left: auto;
                padding-left: 40px;
                padding-top: 27px;
            }

            .fa-store {
                color: var(--Primary, #9356dc);
            }

            li {
                height: 72.379px;
                border-radius: 20px;
                background: var(--Background, #f6f6f6);
                list-style: none;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                color: #000;
                font-family: Roboto;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                position: relative;
                transition: transform 0.3s ease-in-out;

                /* Shadow/Instructions */
                box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
            }

            li:hover {
                cursor: pointer;
                transform: scale(1.1);
            }
        }
    }

    section.restaurants {
        background: var(--Background, #f6f6f6);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5%;

        .restaurant-card {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            margin-top: 20px;

            article.card {
                height: 251px;
                display: flex;
                flex-direction: column;
                background-color: white;
                margin-bottom: 18px;
                position: relative;
                border-radius: 15px;
                width: 100%;

                .info {
                    width: 80px;
                    height: 29px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: var(--Green-Font, #008766);
                    background-color: #99e2d0;
                    font-family: Roboto;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    position: absolute;
                    top: 15px;
                    right: 15px;
                    border-radius: 2px;
                }

                img {
                    height: 67%;
                    width: auto;
                    border-radius: 15px 15px 0px 0px;
                    object-fit: cover;
                }

                .card-content {
                    position: relative;
                }

                .card-content {
                    h3 {
                        color: #000;
                        font-family: Roboto;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                        padding-top: 16px;
                        padding-left: 13px;
                        padding-bottom: 5px;
                    }

                    p {
                        color: #000;
                        font-family: Roboto;
                        font-size: 17px;
                        font-style: normal;
                        font-weight: 300;
                        line-height: normal;
                        padding-left: 13px;
                    }

                    i {
                        font-size: 24px;
                        display: flex;
                        color: #101010;
                        position: absolute;
                        top: 35%;
                        left: 85%;
                        transition: background-color 0.3s;
                    }

                    .fa-solid {
                        opacity: 0;

                        &:hover {
                            opacity: 1;
                            color: transparent;
                            background-clip: text;
                            -webkit-background-clip: text;
                            transition: all 0.4s ease-in-out;
                            background-image: var(--Button-Gradient,
                                    linear-gradient(193deg, #9356dc -11.44%, #ff79da 123.93%));
                        }
                    }
                }
            }
        }
    }


.footer {
    background-color: #353535;
    height: 186px;

    padding: 22px 25px 22px 25px;

    h4 {
        color: #ffffff;
        width: 139px;
        height: 27px;
        padding-right: 0px;
        color: var(--White, #fff);
        font-family: Shrikhand;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 16px;
        padding-left: 15px;
    }

    a {
        flex-wrap: wrap;
        width: 168px;
        color: var(--White, #fff);
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-align: left;
        margin-left: 20px;
    }

    p {
        padding-bottom: 7px;
    }

    .Proposer,
    .Devenir {
        padding-left: 22px;
    }

    .Mentions,
    .Contact {
        font-weight: 400;
    }

    /*icons footer*/
    .fa-solid {
        color: #ffffff;
        display: flex;
        position: absolute;
        z-index: 1;
        left: 20px;
        padding-top: 5px;
        gap: 10px;
        padding-left: 22px;
    }
}

/*media queries*/
@media screen and (min-width: 1024px) {
    body {
        .functioning {
            .functioning-list {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                flex-wrap: wrap;

                a {
                    width: 30%;
              
            }
            
           
            }
        }

        section.restaurants {
            .restaurant-card {
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;

                article.card {
                    width: 47%;
                }
            }
        }

        nav.footer {
            height: 114px;
            display: flex;

            .logo {
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                left: 85%;
                top: 38%;
            }

            .links {
              
                display: flex;
                flex-direction: row;
                justify-items: left;
                align-items: center;
                position: relative;
                top: 20%;
                left: 30%;
            }

            .fa-handshake-angle {
                display: flex;
                position: absolute;
                z-index: 1;
                left: 33%;
                top: 28%;
            }

            .fa-utensils {
                display: flex;
                position: absolute;
                z-index: 1;
                left: -0.5%;
                top: 29%;
            }
        }
    }
}