@import'./utils/mixins.scss';

body {
   
     main {
        .explorer {
         
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            background: var(--Background, #f6f6f6);

            h2 {
                color: #000;
                margin: 0;
                font-family: Roboto;
                font-size: 24px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                text-align: center;
                margin-top: 30px;
            }

            .discover {
              
                height: 46px;
                margin-top: 30px;
                font-family: Roboto;
                font-size: 18px;
                font-style: normal;
                font-weight: 300;
                line-height: normal;
                text-align: center;
            }
        }
    }

    .functioning {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 68px;
        padding: 5%;

        .functioning-list {
            position: relative;
            width: 100%;

            /*icons-list*/
            .number {
                @include number-styles;
              }

            .fa-solid {
                font-size: 18px;
                color: var(--grey-tint-4, #7e7e7e);
                display: flex;
                position: absolute;
                z-index: 1;
                left: auto;
                padding-left: 40px;
                padding-top: 27px;
            }

            .fa-store {
                color: var(--Primary, #9356dc);
            }

            li {
                height: 72.379px;
                border-radius: 20px;
                background: var(--Background, #f6f6f6);
                list-style: none;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                color: #000;
                font-family: Roboto;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                position: relative;
                transition: transform 0.3s ease-in-out;

                /* Shadow/Instructions */
                box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
            }

            li:hover {
                cursor: pointer;
                transform: scale(1.1);
            }
        }
    }

    section.restaurants {
        background: var(--Background, #f6f6f6);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5%;

        .restaurant-card {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            margin-top: 20px;

            article.card {
                height: 251px;
                display: flex;
                flex-direction: column;
                background-color: white;
                margin-bottom: 18px;
                position: relative;
                border-radius: 15px;
                width: 100%;

                .info {
                    width: 80px;
                    height: 29px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: var(--Green-Font, #008766);
                    background-color: #99e2d0;
                    font-family: Roboto;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    position: absolute;
                    top: 15px;
                    right: 15px;
                    border-radius: 2px;
                }

                img {
                    height: 67%;
                    width: auto;
                    border-radius: 15px 15px 0px 0px;
                    object-fit: cover;
                }

                .card-content {
                    position: relative;
                }

                .card-content {
                    h3 {
                        color: #000;
                        font-family: Roboto;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                        padding-top: 16px;
                        padding-left: 13px;
                        padding-bottom: 5px;
                    }

                    p {
                        color: #000;
                        font-family: Roboto;
                        font-size: 17px;
                        font-style: normal;
                        font-weight: 300;
                        line-height: normal;
                        padding-left: 13px;
                    }

                    i {
                        font-size: 24px;
                        display: flex;
                        color: #101010;
                        position: absolute;
                        top: 35%;
                        left: 85%;
                        transition: background-color 0.3s;
                    }

                    .fa-solid {
                        opacity: 0;

                        &:hover {
                            opacity: 1;
                            color: transparent;
                            background-clip: text;
                            -webkit-background-clip: text;
                            transition: all 0.4s ease-in-out;
                            background-image: var(--Button-Gradient,
                                    linear-gradient(193deg, #9356dc -11.44%, #ff79da 123.93%));
                        }
                    }
                }
            }
        }
    }
}
/*media queries*/
@include custom-media-styles;