@import './index.scss';
@import'./base/reset';
@import'./utils/animations';
@import'./layout/_header';
@import'./layout/form';
@import'./components/_button-gradient';
@import'./layout/footer';
@import'./utils/colors';
@import'./restaurants-pages/restaurants.scss';

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;
}

h2 {
    font-size: 24px;
    font-weight: 700;
}

h3 {
    font-size: 16px;
    font-weight: 300;
}

a {
    text-decoration: none;
    color:$black;
}