/* Home page media queries */
/* Mixin pour les styles de .number*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");
body main .explorer {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #F3F3F3;
}
body main .explorer h2 {
  color: #000;
  margin: 0;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  margin-top: 30px;
}
body main .explorer .discover {
  height: 46px;
  margin-top: 30px;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-align: center;
}
body .functioning {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 68px;
  padding: 5%;
}
body .functioning .functioning-list {
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  /*icons-list*/
}
body .functioning .functioning-list .number {
  width: 24px;
  height: 24px;
  background-color: #9356DC;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  font-family: Roboto;
  font-size: 14.182px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  position: relative;
  z-index: 1;
  top: 35%;
  right: 50%;
}
body .functioning .functioning-list .fa-solid {
  font-size: 18px;
  color: #7e7e7e;
  display: flex;
  position: absolute;
  z-index: 1;
  left: auto;
  padding-right: 75%;
  padding-top: 24px;
}
body .functioning .functioning-list .fa-store {
  color: #9356DC;
}
body .functioning .functioning-list li {
  height: 72.379px;
  border-radius: 20px;
  background: #f6f6f6;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  color: #000;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  transition: transform 0.3s ease-in-out;
  /* Shadow/Instructions */
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}
body section.restaurants {
  height: auto;
  background: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5%;
  padding-bottom: 66px;
}
body section.restaurants .restaurant-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}
body section.restaurants .restaurant-card a {
  width: 100%;
}
body section.restaurants .restaurant-card a article.card {
  height: 251px;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  margin-bottom: 18px;
  position: relative;
  border-radius: 15px;
}
body section.restaurants .restaurant-card a article.card .info {
  width: 80px;
  height: 29px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #008766;
  background-color: #99E2D0;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  position: absolute;
  top: 15px;
  right: 15px;
  border-radius: 2px;
}
body section.restaurants .restaurant-card a article.card img {
  height: 67%;
  width: auto;
  border-radius: 15px 15px 0px 0px;
  object-fit: cover;
}
body section.restaurants .restaurant-card a article.card .card-content {
  position: relative;
}
body section.restaurants .restaurant-card a article.card .card-content h3 {
  color: #000;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-top: 16px;
  padding-left: 13px;
  padding-bottom: 5px;
}
body section.restaurants .restaurant-card a article.card .card-content p {
  color: #000;
  font-family: Roboto;
  font-size: 17px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding-left: 13px;
}
body section.restaurants .restaurant-card a article.card .card-content i {
  font-size: 24px;
  display: flex;
  color: #101010;
  position: absolute;
  top: 35%;
  left: 85%;
  transition: background-color 0.3s;
}
body section.restaurants .restaurant-card a article.card .card-content .fa-solid {
  opacity: 0;
}
body section.restaurants .restaurant-card a article.card .card-content .fa-solid:hover {
  opacity: 1;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  transition: all 0.4s ease-in-out;
  background-image: var(--Button-Gradient, linear-gradient(193deg, #9356dc -11.44%, #ff79da 123.93%));
}

/*media queries*/
@media screen and (min-width: 1024px) {
  body .functioning {
    padding: 12%;
    margin-top: -150px;
    margin-bottom: -130px;
  }
  body .functioning h2 {
    margin-bottom: -25px;
  }
  body .functioning .functioning-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
    position: relative;
  }
  body .functioning .functioning-list .fa-solid {
    padding-right: 21%;
  }
  body .functioning .functioning-list li {
    width: 30%;
  }
  body section.restaurants {
    padding: 12%;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  body section.restaurants .restaurant-card {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  body section.restaurants .restaurant-card a {
    width: 47%;
    margin-bottom: 30px;
  }
}
/* reset*/
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
  color: unset;
  font-style: unset;
  font-family: unset;
  font-weight: unset;
}

/* Preferred box-sizing value */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  margin-right: 0;
}

/* Reapply the pointer cursor for anchor tags */
a,
button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu {
  list-style: none;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  appearance: revert;
}

h2 {
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 48px;
  margin-bottom: 10px;
  width: 100%;
}

.loader-body {
  background-color: #FFFFFF;
  padding: 0;
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 2;
  inset: 0;
  animation: fade-out 1s 3s forwards;
  transform-origin: top;
}

@keyframes fade-out {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}
.loader {
  display: flex;
  justify-items: center;
  -webkit-perspective: 700px;
  perspective: 700px;
}

.knife-fork {
  font-size: 30px;
  display: flex;
  position: relative;
  left: -13px;
  bottom: -4px;
}

.loader > span {
  font-size: 30px;
  font-family: shrikhand;
  display: inline-block;
  animation: flip 4.6s infinite linear;
  transform-origin: 0 70%;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}

@keyframes flip {
  35% {
    transform: rotateX(360deg);
  }
  100% {
    transform: rotatex(360deg);
  }
}
.loader > span:nth-child(even) {
  color: #9356DC;
}

.loader > span:nth-child(2) {
  animation-delay: 0.1s;
}

.loader > span:nth-child(3) {
  animation-delay: 0.2s;
}

.loader > span:nth-child(4) {
  animation-delay: 0.3s;
}

.loader > span:nth-child(5) {
  animation-delay: 0.4s;
}

.loader > span:nth-child(6) {
  animation-delay: 0.5s;
}

.loader > span:nth-child(7) {
  animation-delay: 0.6s;
}

@media screen and (min-width: 1024px) {
  .knife-fork {
    font-size: 130px;
  }
  .loader > span {
    font-size: 130px;
  }
}
header h1 {
  font-family: "shrikhand", cursive;
  text-align: center;
  height: 63px;
  margin-top: 14px;
  margin-bottom: 0;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  /* Shadow/Badge */
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}

form {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 25%;
  background: #eaeaea;
}
form #location {
  width: 12px;
  height: 16px;
  color: #353535;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 20px;
}
form #city {
  height: 19px;
  border: none;
  background-color: #eaeaea;
}
form #city::placeholder {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #000;
}

@media screen and (min-width: 1024px) {
  form {
    padding-left: 85px;
  }
}
.button-gradient {
  width: 218px;
  height: 50px;
  margin-top: 40px;
  margin-bottom: 57px;
  color: #FFFFFF;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 25px;
  background: var(--Button-Gradient, linear-gradient(193deg, #9356dc -11.44%, #ff79da 123.93%));
  transition: transform 0.3s ease-in-out;
  /* Shadow/Button */
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}

/*hover*/
.button-gradient:hover {
  background: var(--Button-Gradient, linear-gradient(193deg, #9356dc -11.44%, #ff79da 123.93%));
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
  cursor: pointer;
  transform: scale(1.1);
}

footer {
  background-color: #353535;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
}
footer h2 {
  margin: 0;
  padding-left: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
  font-family: "Shrikhand";
  font-size: 18px;
  font-weight: 400;
  line-height: 26.24px;
}
footer p {
  margin: 0;
  padding-left: 25px;
  padding-bottom: 15px;
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
}
footer p a {
  color: #FFFFFF;
}
footer p a .fa-utensils {
  padding-right: 10px;
}
footer p a .fa-handshake-angle {
  padding-right: 5px;
}
footer p.contact {
  padding-bottom: 25px;
}

@media screen and (min-width: 1024px) {
  footer {
    flex-direction: row;
    justify-content: flex-end;
    height: 114px;
  }
  footer h2 {
    width: 20%;
    order: 2;
    padding-bottom: 30px;
    padding-top: 60px;
    text-align: center;
  }
  footer p {
    order: 1;
    padding-top: 25px;
    padding-bottom: 30px;
    padding-top: 62px;
  }
}
body .header {
  width: 100%;
}
body .header h1 {
  margin-top: unset;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .header #arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  position: absolute;
  top: 1.7%;
  left: 7%;
}
body .hero-banner img {
  width: 100%;
  height: 275px;
  object-fit: cover;
  margin-bottom: unset;
}
body main .menu {
  display: flex;
  flex-direction: column;
  background-color: #F3F3F3;
  border-radius: 35px 35px 0px 0px;
  position: relative;
  z-index: 1;
  margin-top: -40px;
}
body main .menu .menu-title {
  position: relative;
}
body main .menu .menu-title h2 {
  margin-top: 32px;
  margin-bottom: 40px;
  color: #101010;
  font-family: Shrikhand;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  padding-left: 16px;
}
body main .menu .menu-title i {
  font-size: 24px;
  color: #101010;
  position: absolute;
  z-index: 2;
  top: 36%;
  right: 5%;
  transition: background-color 0.3s;
}
body main .menu .menu-title .fa-solid {
  opacity: 0;
}
body main .menu .menu-title .fa-solid:hover {
  opacity: 1;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  transition: all 0.4s ease-in-out;
  background-image: var(--Button-Gradient, linear-gradient(193deg, #9356dc -11.44%, #ff79da 123.93%));
}
body main .menu .menu-categories {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fade-in-top 1s both;
  /**
  * ----------------------------------------
  * animation fade-in-top
  * ----------------------------------------
  */
}
@keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
body main .menu .menu-categories.cascade-delay-1 {
  animation-delay: 500ms;
}
body main .menu .menu-categories.cascade-delay-2 {
  animation-delay: 1000ms;
}
body main .menu .menu-categories.cascade-delay-3 {
  animation-delay: 1500ms;
}
body main .menu .menu-categories .categories-title {
  margin-right: auto;
  margin-left: 6%;
  padding-bottom: 12px;
  color: #000;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
  border-bottom: 3px solid #99E2D0;
  padding-bottom: 2px;
  width: 40px;
  margin-bottom: 15px;
}
body main .menu .menu-categories article {
  display: flex;
  justify-content: space-between;
  width: 90%;
  height: 69px;
  box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
  border-radius: 15.0431px;
  background-color: #FFFFFF;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 12px;
}
body main .menu .menu-categories article .description {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 5px;
  padding: 12px 16px 12px 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
body main .menu .menu-categories article .description h4 {
  margin: 0;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21.09px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
body main .menu .menu-categories article .description .sub-title {
  display: flex;
  justify-content: space-between;
}
body main .menu .menu-categories article .description .sub-title span {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 15.0431px;
  line-height: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
body main .menu .menu-categories article .description .sub-title .price {
  text-overflow: unset;
  font-weight: 700;
  max-width: 80%;
}
body main .menu .menu-categories article .tick {
  background-color: #99E2D0;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -60px;
  transition: all 0.4s linear;
  width: 59px;
}
body main .menu .menu-categories article .tick i {
  font-size: 21px;
  margin: 0;
}
body main .menu .menu-categories article:hover .tick {
  margin-right: 0;
}
body main .button-gradient {
  align-self: center;
}

@media screen and (min-width: 1024px) {
  body .header {
    width: 100%;
  }
  body .header h1 {
    font-size: 34px;
  }
  body section.hero div.hero-banner img {
    height: 383px;
  }
  body main .menu {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
  }
  body main .menu .menu-title i {
    top: 36%;
    right: -20%;
  }
  body main .menu .menu-categories {
    width: 70%;
  }
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

h3 {
  font-size: 16px;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: #101010;
}

/*# sourceMappingURL=style.css.map */
